graph {
	fill-color: white;
	
}

node {
	size-mode: fit;
	shape: rounded-box;
	
	padding: 6px;
	fill-color: grey;
	text-color: black;
	
	text-size: 18px;
	text-alignment: center;
	text-padding: 3px, 2px; 
	
	stroke-mode: plain; 
	stroke-color: black;
}

node.path {
	fill-color: #EB2;
}

edge {
	size: 2px;
	fill-color: black;
	text-size: 15px;
	text-color: black;
	text-padding: 3px, 2px; 
	text-background-mode: rounded-box; 
	text-background-color: green;
}

edge.path {
	fill-color: blue;
}

edge.noWeight {
	fill-color: red;
}